@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mooli', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
header .flex-items{
    background-color: rgba(0,0,0, 0.55);
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100px;
}
header .flex-items h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
}
header .flex-items ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}
header .flex-items ul {
    margin-left: auto;
    margin-top: 16px;
}
header .flex-items ul li a {
    font-family:'Open Sans', sans-serif !important ;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.3px;
}
header .flex-items ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: bisque;
    transition: all 0.45s ease-in-out;
}
header .flex-items ul li:hover::after {
    width: 100%;

}
.body-font h1{
    color: white;
    margin-top: 20px;
    font-size: 55px;
    line-height: 100px;

}
.body-font p {
    color: white;
    text-align: center;
    
}
.containers {
    display: block;
    margin-left: 300px;
    margin-top: 100px;
    color:rgb(0, 0, 0);
    font-weight: 800;
}
.containers .desert {
    width: 850px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.45);
    background-image: url(sahara-camel.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    transition: all 0.35s;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.containers .desert h3 {
    text-align: center;
}
.containers .desert h3::after {
    content: ''; /* Required for pseudo-elements */
    display: block;
    width: 100%; /* Adjust the line width as needed */
    height: 1px;
    border-bottom: 2px solid black; /* Add a white line */
    margin-top:20px;
}
.containers .desert p {
    text-align: center;
}
.containers .desert:hover {
    transform: scale(1.15);
    font-size: 26px;
}
.containers .skyscrapers {
    width: 850px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.45);
    background-image: url(sky-scrapers.jfif);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    transition: all 0.35s;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.containers .skyscrapers h3 {
    text-align: center;
}
.containers .skyscrapers h3::after {
    content: ''; /* Required for pseudo-elements */
    display: block;
    width: 100%; /* Adjust the line width as needed */
    border-bottom: 2px solid black; /* Add a white line */
    margin-top:20px;
}
.containers .skyscrapers p {
    text-align: center;
}
.containers .skyscrapers:hover {
    transform: scale(1.15);
    font-size: 26px;
}
.containers .desert-wildlife {
    width: 850px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.45);
    background-image: url(sahara-cactus.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
    transition: all 0.35s;
    font-size: 25px;
    margin-bottom: 100px;
    
}
.containers .desert-wildlife h3 {
    text-align: center;
}
.containers .desert-wildlife h3::after {
    content: ''; /* Required for pseudo-elements */
    display: block;
    width: 100%; /* Adjust the line width as needed */
    border-bottom: 2px solid black; /* Add a white line */
    margin-top:20px;
}
.containers .desert-wildlife p {
    text-align: center;
}
.containers .desert-wildlife:hover {
    transform: scale(1.15);
    font-size: 26px;
}
.containers .desert-ride {
    width: 850px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.45);
    background-image: url(dubai-safari.jfif);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    transition: all 0.35s;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.containers .desert-ride h3 {
    text-align: center;
}
.containers .desert-ride h3::after{
    content: ''; /* Required for pseudo-elements */
    display: block;
    width: 100%; /* Adjust the line width as needed */
    border-bottom: 2px solid black; /* Add a white line */
    margin-top:20px;
}
.containers .desert-ride p {
    text-align: center;
}
.containers .desert-ride:hover {
    transform: scale(1.15);
    font-size: 26px;
}
.body-font h1 {
    margin-left: 175px;
}
.body-font p {
    margin-left: 35px;
    font-size: 45px;
    letter-spacing: 1px;
    
}